[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

arrow = "==0.10.0"
pylaas_core = {git = "ssh://git@github.com/Agi-dev/pylaas_core.git", editable=true}


[dev-packages]

pytest = "*"
pytest-cov = "*"
"pytest-pep8" = "*"